.header {
  position: relative;

  &__wrapper {
    max-height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 25px 2% 0 2%;
  }

  &__navigation-items {
    display: flex;
    justify-content: space-between;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 3px;
      overflow: visible;

      background: repeating-linear-gradient(to right, #1ba5dd 0, #1ba5dd 85px, #df2479 85px, #df2479 170px, #47ad34 170px,
              #47ad34 255px, #e98922 255px, #e98922 335px, #942594 335px, #942594 420px);

      z-index: 10;

      content: "";
    }
  }


  &__navigation-item {
    display: flex;

    z-index: 20;


    a {
      display: block;
      padding: 24px 20px;
      width: auto;

      text-decoration: none;
      font-size: 16px;

      color: #000000;
    }
  }

  &__menu-items {
    position: relative;

    display: flex;
    height: 30px;
    margin: 15px 0 20px 0;
  }

  &__menu-item {
    width: 30px;
    height: 30px;
    margin: auto 15px auto 0;

    a {
      display: block;
      width: 25px;
      height: 25px;
    }
  }

  &__brands--closed {
    display: none;
  }

  &__brands--opened {
    position: absolute;
    left: 0;
    top: 90px;


    width: 100%;
    padding: 20px 30% 20px 25.5%;
    display: flex;
    flex-wrap: wrap;

    color: #ffffff;

  }

  &__brands--opened .header__brands-item {
   width: calc(100% / 3);

    a {
      padding: 5px 0 5px 20px;
      border-left: 1px solid #cecece;
    }

  }

  &__navigation-item--blue {
    box-shadow: inset 0 -3px #1ba5dd;
  }

  &__navigation-item--magenta {
    box-shadow: inset 0 -3px #df2479;
  }

  &__navigation-item--green {
    box-shadow: inset 0 -3px #47ad34;
  }

  &__navigation-item--orange {
    box-shadow: inset 0 -3px #e98922;
  }
  &__navigation-item--purple {
    box-shadow: inset 0 -3px #942594;
  }

  &__navigation-item--active-blue {
    box-shadow: inset 0 -7px #1ba5dd;
  }
  &__navigation-item--active-magenta {
    box-shadow: inset 0 -7px #df2479;
  }

  &__navigation-item--active-green {
    box-shadow: inset 0 -7px #47ad34;
  }

  &__navigation-item--active-orange {
    box-shadow: inset 0 -7px #e98922;
  }
  &__navigation-item--active-purple {
    box-shadow: inset 0 -7px #942594;
  }


  &__menu-item--profile {
   @include sprite(Account_Icon);
  }

  &__menu-item--envelope {
    @include sprite(Envelope);
  }

  &__menu-item--language {
    width: 30px;
    height: 30px;
    line-height: 25px;

    font-size: 14px;
    font-weight: bold;

    a {
      text-decoration: none;
      text-align: center;
      width: 30px;
      height: 30px;

      color: #000000;
      border: 2px solid #000000;
      border-radius: 15px;

      &:hover {
        background: #000000;

        color: #ffffff;
      }
    }
  }

  &__menu-item--language--closed {

    .header__language-bar {
      display: none;
    }
  }

  &__menu-item--language--opened {

    .header__language-bar {
      position: absolute;
      bottom: -87px;
      right: 0;

      padding: 20px 30px;
      display: flex;

      background: #eeeeee;

      z-index: 30;
    }
  }

  &__language-bar-item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-item--language--opened .header__language-en {
    background: #000000;

    color: #ffffff;
  }


  &__menu-item--search {
    @include sprite(Search_icon);
    margin-right: 0;
  }
}