.info-block {

  &__wrapper {
    position: relative;
    display: flex;

    height: 720px;
  }

  &__wrapper--homePageWhiteBlock {

    justify-content: space-between;
    margin-top: -80px;
    padding-top: 190px;

    font-size: 52px;
    font-weight: 400;

    &:before {
      position: absolute;
      top: -235px;
      right: 105px;

      width: 0;
      height: 470px;

      border-bottom: 720px solid transparent;
      border-left: 720px solid #e2e2e2;

      transform: rotate(90deg);

      z-index: 10;

      content: "";
    }

    &:after {
      position: absolute;
      top: 360px;
      left: -155px;

      width: 150px;
      height: 1px;

      background: #c7c7c7;

      transform: rotate(45deg);

      content: "";
    }
  }

  &__text-wrapper {
    position: relative;

    flex-basis: 55%;

    z-index: 20;
  }

  &__logo {
    position: relative;

    @include png-sprite($icon-info-block-Logo);

    z-index: 20;
  }

  &__text {
    margin-bottom: 40px;

    color: #444444;
  }

  &__wrapper--infoBlockWGreenAngles {
    padding-top: 80px;

    color: #ffffff;


    &:before {
      position: absolute;
      top: 0;
      right: -130px;

      width: 0;
      height: 1px;

      border-bottom: 470px solid transparent;
      border-left: 470px solid #3e7644;

      transform: rotate(90deg);

      opacity: .6;

      z-index: 10;

      content: "";
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: -130px;

      width: 0;
      height: 1px;

      border-bottom: 270px solid transparent;
      border-right: 270px solid #3e7644;

      transform: rotate(-180deg);

      opacity: .6;

      z-index: 10;

      content: "";
    }
  }

  &__title {
    margin: 0;

    font: 66px $font-title;
    font-weight: 300;
  }

  &__description {
    margin: 40px 0 65px 0;
    font-size: 22px;
  }

  &__button--grey {
    background: #696c73;
  }
}