<div class="displaced-block container">
    {% if homePage %}
        <div class="displaced-block__wrapper">
            <time class="displaced-block__time" datetime="01.08.2016">01.08.2016 - 14:07</time>
            <div class="displaced-block__rate">SDR <b>87.55 </b><span>SEK</span></div>
            <div class="displaced-block__trend">0.60<br>(0.67%)</div>
            <ul class="displaced-block__list">
                <li class="displaced-block__list-item">2015<br><span>Annual report</span></li>
                <li class="displaced-block__list-item">04.07<br><span>press release</span></li>
                <li class="displaced-block__list-item  displaced-block__list-item--notebook-icon">Q3 - 2016<br><span>02.11.2016 - 07:30 CET</span></li>
            </ul>
        </div>
    {% endif %}
</div>