{% if homePageWhiteBlock %}

    <div class="info-block info-block--homePageWhiteBlock  container">
        <div class="info-block__wrapper  ">
            <div class="info-block__text-wrapper">
                <div class="info-block__text">We are transforming gambling to ensure players get a fair deal and a great experience.</div>
                <button class="info-block__button  btn">Find out more</button>
            </div>
            <a class="info-block__logo" href="#"></a>
        </div>
    </div>

{% elseif homePageCareeersBlock %}

    <div class="info-block container">
        <h3 class="info-block__title">Individuals United</h3>
        <div class="info-block__text">We’re a diverse network of passionate and talented individuals who are proud to be part of Kindred. As experts in our different areas, we all add something special to the company.</div>
        <button class="info-block__button  btn"> Careers at Kindred</button>
    </div>

{% endif %}
