
    {% if homePageWhiteBlock %}
        <div class="info-block  container">
            <div class="info-block__wrapper  info-block__wrapper--homePageWhiteBlock">
                <div class="info-block__text-wrapper">
                    <div class="info-block__text">We are transforming gambling to ensure players get a fair deal and a great experience.</div>
                    <button class="info-block__button  btn">Find out more</button>
                </div>
                <div class="info-block__logo"></div>
            </div>
        </div>

    {% elseif infoBlockGreenAngles %}

        <div class="info-block  container"  style="background: url({{ background_url }}) no-repeat center">
            <div class="info-block__wrapper info-block__wrapper--infoBlockWGreenAngles">
                <div class="info-block__text-wrapper">
                    <h3 class="info-block__title">{{ title }}</h3>
                    <div class="info-block__description">{{ description }}</div>
                    <button class="info-block__button info-block__button--grey  btn">{{ button_text }}</button>
                </div>
            </div>
        </div>

    {% endif %}

</div>
