$icons: (
    sprite: (width: 314px, height: 337px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    Account_Icon: (width: 24.88px, height: 27.781px, backgroundX: 0px, backgroundY: 0px),
    Envelope: (width: 24px, height: 18px, backgroundX: -25px, backgroundY: -28px),
    FB: (width: 38px, height: 37.97px, backgroundX: -49px, backgroundY: -46px),
    G: (width: 38px, height: 38.03px, backgroundX: -87px, backgroundY: -84px),
    Search_icon: (width: 26.5px, height: 26.5px, backgroundX: -125px, backgroundY: -123px),
    Twitter: (width: 38.03px, height: 38.03px, backgroundX: -152px, backgroundY: -150px),
    Youtube: (width: 38px, height: 38.03px, backgroundX: -191px, backgroundY: -189px),
    arrow-down: (width: 18.062px, height: 25.907px, backgroundX: -229px, backgroundY: -228px),
    notebook-icon: (width: 33px, height: 41.344px, backgroundX: -248px, backgroundY: -254px),
    press-icon: (width: 33px, height: 41px, backgroundX: -281px, backgroundY: -296px),
);