$icons: (
    sprite: (width: 76px, height: 73px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    Account_Icon: (width: 24.88px, height: 27.781px, backgroundX: 0px, backgroundY: 0px),
    Envelope: (width: 24px, height: 18px, backgroundX: -25px, backgroundY: -28px),
    Search_icon: (width: 26.5px, height: 26.5px, backgroundX: -49px, backgroundY: -46px),
);