{% extends "layout/base.twig" %}

{% block body %}
    <main class="main-content">
        {% include "components/upper-block.twig" with
            {
                'slider' : true,
                'slides' : [
                {
                    'title' : 'Transfroming Gambling',
                    'description' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.',
                    'background_url' : '../images/HeroImage.png'
                },
                {
                    'title' : 'Transfroming Gambling',
                    'description' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.',
                    'background_url' : '../images/HeroImage.png'
                },
                {
                    'title' : 'Transfroming Gambling',
                    'description' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.',
                    'background_url' : '../images/HeroImage.png'
                },
            ]

            } %}

        {% include "components/displaced-block.twig" with
            {
                'homePage' : true
            }
        %}

        {% include "components/info-block.twig" with
            {
                'homePageWhiteBlock' : true
            }
        %}
    </main>
{% endblock %}

