{% extends "layout/base.twig" %}

{% block body %}
    <main class="main-content">
        {% include "components/upper-block.twig" with
            {
                'slider' : true,
                'slides' : [
                {
                    'title' : 'Transfroming Gambling',
                    'description' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.',
                    'background_url' : '../images/HeroImage.png'
                },
                {
                    'title' : 'Transfroming Gambling',
                    'description' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.',
                    'background_url' : '../images/HeroImage.png'
                },
                {
                    'title' : 'Transfroming Gambling',
                    'description' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet.',
                    'background_url' : '../images/HeroImage.png'
                },
            ]

            } %}

        {% include "components/displaced-block.twig" with
            {
                'homePage' : true
            }
        %}

        {% include "components/info-block.twig" with
            {
                'homePageWhiteBlock' : true
            }
        %}

        {% include "components/info-block.twig" with
            {
                'infoBlockGreenAngles' : true,
                'background_url' : '../images/info-block-Homepage-careers.png',
                'title' : 'Individuals United',
                'description' : 'We’re a diverse network of passionate and talented individuals<br>
                        who are proud to be part of Kindred. As experts in our<br>
                        different areas, we all add something special to the company.',
                'button_text' : 'Careers at Kindred'
            }
        %}
    </main>
{% endblock %}

