<footer class="footer">
    <div class="footer__wrapper  container">
        <div class="footer__content">
            <div class="footer__contact">Media Centre / Contact</div>
            <div class="footer__company-number">Unibet Group plc is registered in Malta with company number C-39017.</div>
            <div class="footer__address">Registered office: c/o Camilleri Preziosi, Level 2, Valletta Building, South Street, Valletta VLT 11, Malta.</div>
        </div>
        <ul class="footer__social-buttons">
            <li class="footer__social-button"><a class="footer__social-button--facebook" href="#"></a></li>
            <li class="footer__social-button"><a class="footer__social-button--twitter" href="#"></a></li>
            <li class="footer__social-button"><a class="footer__social-button--youtube" href="#"></a></li>
            <li class="footer__social-button"><a class="footer__social-button--google-plus" href="#"></a></li>
        </ul>
    </div>
</footer>