<header class="header">
    <div class="header__wrapper  container">
        <picture class="header__logo">
            <a href="#"><img src="../../images/Logo.png" width="191" height="41" alt="Kindred-logo"></a>
        </picture>
        <ul class="header__navigation-items">
            <li class="header__navigation-item  header__navigation-item--blue"><a href="#">About</a></li>
            <li class="header__navigation-item header__navigation-item--brands  header__navigation-item--magenta">
                <a href="#">Our brands</a>
                <ul class="header__brands  header__brands--closed">
                    <li class="header__brands-item"><a href="#">Unibet</a></li>
                    <li class="header__brands-item"><a href="#">StanJames.com</a></li>
                    <li class="header__brands-item"><a href="#">Kolikkopelit</a></li>
                    <li class="header__brands-item"><a href="#">Bingohoune</a></li>
                    <li class="header__brands-item"><a href="#">Behemia Casino</a></li>
                    <li class="header__brands-item"><a href="#">Mara Casino</a></li>
                    <li class="header__brands-item"><a href="#">iGame</a></li>
                    <li class="header__brands-item"><a href="#">Veikkaushuone</a></li>
                    <li class="header__brands-item"><a href="#">Pokerihuone</a></li>
                    <li class="header__brands-item"><a href="#">Leijona Kasino</a></li>
                    <li class="header__brands-item"><a href="#">Bingo.com</a></li>
                    <li class="header__brands-item"><a href="#">Hertat</a></li>
                    <li class="header__brands-item"><a href="#">Casinohuone</a></li>
                    <li class="header__brands-item"><a href="#">24hr Bet</a></li>
                </ul>
            </li>
            <li class="header__navigation-item  header__navigation-item--green"><a href="#">Investors</a></li>
            <li class="header__navigation-item  header__navigation-item--orange"><a href="#">Careers</a></li>
            <li class="header__navigation-item  header__navigation-item--purple"><a href="#">Kindred Futures</a></li>
            <li class="header__navigation-item  header__navigation-item--blue"><a href="#">Sustainability</a></li>
            <li class="header__navigation-item  header__navigation-item--magenta"><a href="#">Media</a></li>
        </ul>

        <ul class="header__menu-items">
            <li class="header__menu-item  header__menu-item--profile"><a href="#"></a></li>
            <li class="header__menu-item  header__menu-item--envelope"><a href="#"></a></li>
            <li class="header__menu-item  header__menu-item--language  header__menu-item--language--closed">
                <a class="header__language-en" href="#">En</a>
                <ul class="header__language-bar">
                    <li class="header__language-bar-item"><a href="#">En</a></li>
                    <li class="header__language-bar-item"><a href="#">Se</a></li>
                </ul>
            </li>
            <li class="header__menu-item  header__menu-item--search"><a href="#"></a></li>
        </ul>

    </div>
</header>